@mixin flexdirectionStandard(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexdirection($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    flex-wrap: wrap;
  }