.add-container {
 @include colorinfo();

  .title {
    @include title();
  } 

  
  .colorinfo{
    margin: 20px;
    font-size: 20px;
}

.colorcode{
    margin: 20px;
    font-size: 20px;
}

  .add-input {
    margin: 20px 0;

    input{
       @include input();
    }

    button{
        @include button();
    }
  }
}



@media screen and (max-width: 680px) {
  .add-container {
    button {
      font-size: 15px;
      margin-left: 0px;
      margin-top: 10px;
    }
  }
}
