.foot_container{
    @include flexdirectionStandard();
    background-color: $color-green;
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    .title{
        color: $color-white;
    }
}