.home_color {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  background-color: $color-gray-lighter;
  border: 2px solid $color-green-darker;
  margin: 0 40px;
  padding: 10px;
  
  .colors {
    width: 60px;
    height: 60px;
    border: 2px solid $color-green;
    border-radius: 20%;
    margin: 5px;
    background-color: #ffffff;
    padding: 10px;
  }
}
