.search-container{

    .btnhome {
      
        color: $color-white;
        cursor: pointer;
        margin-left: 10px;
       

       
    }
   
}

.btn-navigate{
    cursor: pointer;
    padding: 20px;
}