.texcard {
  background-color: $color-green-light;
  @include flexdirection(column);
  border-bottom: 1px solid $color-green-darker;
  border-top: 1px solid $color-green-darker;
  margin-bottom: 40px;

  .texttitle {
    @include texttitle();
  }

  .text {
   @include text();
  }
}
